*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
$bgcolor:#080808;
$blue: #2600ff;
$brdrgold: #b79a09;
$navbarbg:rgba(8, 8, 8, 0.6);
$skillbar:rgba(255, 215, 0, 0.8);
$opacitybg:rgba(0, 0, 0, 0.5);
$black:black;
$white:white;
$gold:gold;
html{
    scroll-behavior: smooth;
    scroll-padding: 16rem;
}
body{
    font-family: 'Roboto-regular';
    font-size: 14px;
    line-height: 20px;
    background: $bgcolor;
    color: $white;
}
.to-top{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: $gold;
    color: $bgcolor;
    position: fixed;
    right: 30px;
    bottom: 30px;
    outline: none;
    border: none;
    padding-bottom: 4px;
    font-size: 20px;
    z-index: 1;
    transform: rotate(180deg);
    &:hover, &.active{
        transform: rotate(0deg);
    }
}
.brdr{
    border: 1px solid $white;
}
.clear{
    clear: both;
}
#headercontainer{
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0px -15px;
    .custom-navbar{
        background: $navbarbg;
        .navbar-header{
            .logo{
                float: left;
                display: block;
                img{
                    width: 50%;
                    display: block;
                    margin: 20px 0px 0px 0px;
                }
            }
            .navbar-toggle{
                border: 1px solid $gold;
                background-color: $gold;
                span{
                    background-color: $black;
                }
            }
        }
        .nav{
            li{
                a{
                    font-size: 17px;
                    line-height: 24px;
                    color: $white;
                    margin: 5px 20px 0px 0px;
                    text-align: center;
                    position: relative;
                    background: none;
                    padding: 15px 5px;
                    display: inline-block;
                    &::after{
                        content: "";
                        width: 0%;
                        height: 2px;
                        background: $gold;
                        display: inline-block;
                        position: absolute;
                        left: 0px;
                        bottom: 0px;
                        transition: 0.5s;
                    }
                    &:hover, &.active{
                        color: $gold; 
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
#bodycontainer{
    margin: 0px -15px;
    .intro{
        margin-top: 15%;
        .mypic{
            width: 320px;
            height: 320px;
            border-radius: 100%;
            overflow: hidden;
            min-height: 320px;
            margin: 0px 0px 0px 34%;
            background-color: $white;
            img{
                width: 86%;
                display: block;
                margin: 10px 0px 0px 20px;
            }
        }
        .header-text{
            padding: 60px 0px 50px 50px;
            min-height: 320px;
            h1{
                margin: 20px 0px;
                font-size: 35px;
                line-height: 41px;
                span{
                    color: $gold;
                }
            }
            .dynamic-txt{
                margin: 0px 0px 40px 25px;
                height: 35px;
                line-height: 35px;
                overflow: hidden;
            }
            .dynamic-txt li{
                list-style: none;
                font-size: 26px;
                color: $gold;
                position: relative;
                top: 0px;
                animation: slide 7s steps(2) infinite;
                span{
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        background-color: $bgcolor;
                        border-left: 2px solid $gold;
                        left: 0px;
                        animation: typing 3.5s steps(14) infinite;
                    }
                }
            }
            @keyframes slide {
                100%{
                    top: -65px;
                }
            }
            @keyframes typing {
                100%{
                    left: 100%;
                    margin: 0px -15px 0px 15px;
                }
            }
            button, a{
                font-size: 17px;
                line-height: 23px;
                padding: 10px 20px;
                border-radius: 10px;
                text-decoration: none;
                text-align: center;
                display: inline-block;
                border: 2px solid $brdrgold;
                background: none;
                outline: none;
                color: $gold;
                margin: 0px 10px 0px 0px;
                &:hover, &.active{
                    background-color: $gold;
                    color: $black;
                    border: none;
                }
                i{
                    margin-left: 3px;
                }
            }
        }
    }
    .about{
        margin-top: 15%;
        .heading{
            text-align: center;
            margin: 0px 0px 50px 0px;
            a{
                text-decoration: none;
                color: $white;
                font-size: 25px;
                line-height: 31px;
                margin-right: 40px;
                position: relative;
                &::after{
                    content: '';
                    width: 0%;
                    height: 2px;
                    background-color: $gold;
                    display: inline-block;
                    position: absolute;
                    left: 0px;
                    bottom: -10px;
                    transition: 0.5s;
                }
                &.active{
                    &::after{
                        width: 100%;
                    }
                }
            }
        }
        .about-brdr{
            border: 2px solid $brdrgold;
            border-radius: 30px;
            padding: 40px 30px;
        }
        .mypic2{
            min-height: 325px;
            img{
                width: 100%;
                display: block;
                border-radius: 10px;
            }
        }
        .about-txt{
            min-height: 330px;
            display: none;
            .ptext{
                margin: 5px 0px 12px 0px;
                font-size: 15px;
                line-height: 23px;
                span{
                    color: $gold;
                }
            }
            &.active{
                display: block;
            }
        }
        .biodata{
            text-align: center;
            padding: 58px 0px;
            min-height: 325px;
            display: none;
            .education{
                padding: 54px 0px;
                width: 45%;
                border-radius: 15px;
                margin: 0px 45px 0px 15px;
                border: 2px solid $brdrgold;
                float: left;
                .educa-p{
                    margin: 13px 0px;
                    font-size: 16px;
                    line-height: 22px;
                }
                &:hover{
                    box-shadow: 0px 0px 20px $gold;
                }
            }
            .expreience{
                padding: 33px 0px;
                width: 45%;
                border-radius: 15px;
                border: 2px solid $brdrgold;
                float: left;
                &:hover{
                    box-shadow: 0px 0px 20px $gold;
                }
                h3{
                    font-size: 30px;
                    line-height: 36px;
                    margin: 17px 0px 15px 0px;
                }
                span{
                    display: block;
                    color: $gold;
                    font-size: 18px;
                    line-height: 26px;
                }
                .expre-p{
                    margin: 13px 0px;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            &.active{
                display: block;
            }
        }
    }
    .skills{
        margin-top: 15%;
        h1{
            font-size: 30px;
            line-height: 36px;
            text-align: center;
            text-transform: capitalize;
            position: relative;
            margin: 0px 0px 50px 0px;
            &::after{
                content: "";
                width: 120px;
                height: 2px;
                display: inline-block;
                background: $gold;
                position: absolute;
                left: 510px;
                bottom: -5px;
            }
        }
        .border{
            border: 2px solid $brdrgold;
            padding: 40px 30px;
            border-radius: 30px;
            .skill-box{
                width: 100%;
                position: relative;
                margin: 50px 0px;
                padding: 0px 10px;
                .title{
                    display: block;
                    margin-bottom: 10px;
                    font-size: 17px;
                    line-height: 23px;
                
                }
                .skill-bar{
                    width: 100%;
                    height: 8px;
                    background: $skillbar;
                    border-radius: 6px;
                    margin-top: 5px;
                    .skill-per{
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: $blue;
                        border-radius: 6px;
                        animation: progress 0.4s ease-in-out forwards;
                        opacity: 0;
                        @keyframes progress{
                            0%{
                                width: 0px;
                                opacity: 0;
                            }
                        100%{
                                opacity: 1;
                            }
                        }
                        .tooltip{
                            position: absolute;
                            top: -35px;
                            right: -17px;
                            font-weight: bold;
                            color: $white;
                            font-size: 12px;
                            line-height: 18px;
                            background: $blue;
                            padding: 2px 6px;
                            border-radius: 3px;
                            opacity: 1;
                            &::after{
                                content: "";
                                width: 8px;
                                height: 8px;
                                background: $blue;
                                display: inline-block;
                                position: absolute;
                                left: 50%;
                                bottom: -4px;
                                transform:translateX(-50%) rotate(45deg);
                                z-index: 1;
                            }
                        }
                    }
                    .skill-per.css{
                        width: 80%;
                        animation-delay: 0.1s;
                    }
                    .skill-per.javascript{
                        width: 50%;
                        animation-delay: 0.2s;
                    }
                    .skill-per.bootstrap{
                        width: 60%;
                    }
                    .skill-per.jQuery{
                        width: 50%;
                        animation-delay: 0.1s;
                    }
                    .skill-per.scass{
                        width: 70%;
                        animation-delay: 0.2s;
                    }
                }

            }
        }
    }
    .gallery{
        margin-top: 15%;
        h1{
            text-align: center;
            font-size: 30px;
            line-height: 36px;
            margin: 0px 0px 50px 0px;
            position: relative;
            &::after{
                content: "";
                width: 90px;
                height: 2px;
                display: inline-block;
                background: $gold;
                position: absolute;
                left: 525px;
                bottom: -5px;
            }
        }
        .gallery-box{
            border: 2px solid $brdrgold;
            padding:60px;
            border-radius: 10px;
            margin-bottom: 20px;
            img{
                width: 100%;
                display: block;
                font-size: 18px;
                height: 290px;
                border-radius: 10px;
                position: relative;
                cursor: pointer;
            }
            .opacity{
                position: absolute;
                background: $opacitybg;
                bottom: 60px;
                width: 236px;
                border-radius: 0px 0px 10px 10px;
                text-align: center;
                padding: 20px;
                animation: mymove 1s;
                display: none;
                cursor: pointer;
                h2{
                    margin: 0px;
                    font-size: 20px;
                    line-height: 28px;
                }
                p{
                    margin: 0px;
                    font-size: 20px;
                    line-height: 28px;
                }
                a{
                    margin: 0px;
                    font-size: 15px;
                    line-height: 21px;
                    display: inline-block;
                    text-decoration: none;
                    padding: 8px 20px;
                    color: $white;
                    i{
                        margin-left: 10px;
                    }
                    &:hover{
                        color: $gold;
                    }
                }
            }
        }
    }
}
#footercontainer{
    margin: 15% -15px 0px -15px;
    .contact{
        h1{
            text-align: center;
            font-size: 30px;
            line-height: 36px;
            margin: 0px 0px 60px 0px;
            position: relative;
            &::after{
                content: "";
                width: 160px;
                height: 2px;
                display: inline-block;
                background: $gold;
                position: absolute;
                left: 490px;
                bottom: -5px;
            }
        }
        .details{
            cursor: pointer;
            padding: 50px 30px;
            border: 2px solid $brdrgold;
            border-radius: 30px;
            .whitebox{
                text-align: center;
                padding: 30px 10px;
                border-radius: 10px;
                min-height: 217px;
                margin: 0px 10px;
                .boxicon{
                    display: inline-block;
                    text-decoration: none;
                    width: 55px;
                    height: 55px;
                    border-radius: 100%;
                    background: $gold;
                    font-size: 22px;
                    line-height: 28px;
                    padding: 15px 0px 0px 0px;
                    color: $bgcolor;
                    &:hover{
                        color: $bgcolor;
                    }
                }
                h2{
                    font-size: 20px;
                    line-height: 26px;
                    margin: 10px 0px 7px 0px;
                    text-transform: capitalize;
                }
                a{
                    display: block;
                    text-decoration: none;
                    margin: 0px 0px 5px 0px;
                    color: $white;
                    &:hover{
                        color: $gold;
                    }
                }
                &:hover, &.active{
                    box-shadow: 0px 0px 20px $gold;
                }
            }
            .extra-padd{
                padding: 40px 0px;
            }
            .location-box{
                padding: 40px 10px 0px 10px;
            }
        }
    }
    h2{
        font-size: 15px;
        line-height: 21px;
        text-align: center;
        margin: 40px 0px 20px 0px;
        &:hover{
            color: $gold;
        }
    }
}

//RESPONSIVE VIEW//
@media(min-width:320px) and (max-width:480px)
{
    #headercontainer .custom-navbar .navbar-header .navbar-toggle{
        top: -30px;
    }
    #headercontainer .custom-navbar .nav{
        border: 2px solid $brdrgold;
        width: 110%;
        padding-left: 10px;
    }
    #bodycontainer{
        .intro{
            .mypic{
                width: 270px;
                height: 270px;
                min-height: 270px;
                margin: 0px auto;
            }
            .header-text{
                padding: 0px;
                text-align: center;
                margin: 0px 0px 50px 0px;
                min-height: 0px;
                h1{
                    font-size: 30px;
                    line-height: 36px;
                    margin: 20px 0px 10px 10px;
                }
                .dynamic-txt{
                    margin: 0px 0px 20px 0px;
                    text-align: center;
                }
                button, a{
                    padding: 10px 15px;
                }
            }
        }
        .about{
            .heading{
                margin: 0px 0px 20px 0px;
                a{
                    font-size: 16px;
                    line-height: 22px;
                    margin: 0px 5px;
                    text-align: center;
                }
            }
            .about-brdr{
                padding: 0px 10px;
                border-radius: 10px;
            }
            .mypic2{
                min-height: 0px;
                img{
                    width: 100%;
                    border-radius: 10px;
                    margin: 20px 0px;
                }
            }
            .biodata{
                padding: 20px 0px;
                .education{
                    width: 100%;
                    border-radius: 15px;
                    margin: 0px 0px 30px 0px;
                }
                .expreience{
                    padding: 33px 25px;
                    width: 100%;
                }
            }
        }
        .skills{ 
            margin-top: 25%;
            h1{
                font-size: 25px;
                line-height: 31px;
                margin: 0px 0px 20px 37%;
                display: inline-block;
                &::after{
                    left: -4px;
                    width: 105px;
                }
            }
            .border{ 
                padding: 0px 15px;
                border-radius: 10px;
                .skill-box{
                    margin: 40px 0px;
                }
            }
        }
        .gallery{
            margin-top: 25%;
            h1{
                margin: 0px 0px 20px 37%;
                font-size: 25px;
                line-height: 31px;
                display: inline-block;
                &::after{
                    left: 0px;
                    width: 80px;
                }
            }
            .gallery-box{
                padding: 30px;
                .opacity{
                    width: 87%;
                    bottom: 30px;
                    height: 130px;
                    padding: 20px 0px;
                }
            }
        }
    }
    #footercontainer{
        .contact{
            margin-top: 20%;
            h1{
                margin: 0px 0px 20px 30%;
                font-size: 25px;
                line-height: 31px;
                display: inline-block;
                &::after{
                    left: 1px;
                    width: 130px;
                }
            }
            .details{
                border-radius: 10px;
                padding: 30px 0px;
                .whitebox{
                    margin: 20px 10px;
                }
            }
        }
    }
}