@font-face {
  font-family: "Work Sans-Bold";
  src: url("../fonts/WorkSans-Bold.eot");
  src: url("../fonts/WorkSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/WorkSans-Bold.woff2") format("woff2"), url("../fonts/WorkSans-Bold.woff") format("woff"), url("../fonts/WorkSans-Bold.ttf") format("truetype"), url("../fonts/WorkSans-Bold.svg#WorkSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans-Regular";
  src: url("../fonts/WorkSans-Regular.eot");
  src: url("../fonts/WorkSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff"), url("../fonts/WorkSans-Regular.ttf") format("truetype"), url("../fonts/WorkSans-Regular.svg#WorkSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans- Italic";
  src: url("../fonts/WorkSans-Italic.eot");
  src: url("../fonts/WorkSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/WorkSans-Italic.woff2") format("woff2"), url("../fonts/WorkSans-Italic.woff") format("woff"), url("../fonts/WorkSans-Italic.ttf") format("truetype"), url("../fonts/WorkSans-Italic.svg#WorkSans-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
body {
  font-size: 14px;
  line-height: 20px;
  font-family: "Work Sans-Regular";
}

.headercontainer {
  background: url("../images/bg-fl.jpg") no-repeat -240px 0px/135%;
  padding-bottom: 230px;
  margin: 0px -15px;
}
.headercontainer .custom-navbar {
  margin-top: 4%;
}
.headercontainer .custom-navbar .navbar-toggle {
  background: black;
}
.headercontainer .custom-navbar .navbar-toggle .icon-bar {
  background: white;
}
.headercontainer .custom-navbar .navbar-nav > li > a {
  color: white;
  background: none;
  text-transform: capitalize;
  font-size: 17px;
  line-height: 23px;
}
.headercontainer .custom-navbar .navbar-nav > li > a:hover {
  color: yellow;
}
.headercontainer .custom-navbar .navbar-nav > .active > a {
  color: yellow;
  background: none;
}
.headercontainer .headtext {
  margin: 20% 20% 0% 19%;
  text-align: center;
}
.headercontainer .headtext h1 {
  font-size: 57px;
  line-height: 63px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}
.headercontainer .headtext p {
  color: white;
  font-size: 19px;
  line-height: 25px;
  margin-bottom: 40px;
}
.headercontainer .headtext a {
  font-size: 16px;
  line-height: 22px;
  padding: 15px 40px;
  margin: 0px 20px 0px 0px;
  border: 1px solid orangered;
  background: white;
  color: orangered;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
}
.headercontainer .headtext a:hover, .headercontainer .headtext a.active {
  color: white;
  background: orangered;
}

.bodycontainer {
  margin: 0px -15px;
}
.bodycontainer .businesscontainer {
  margin: 6% 0% 5% 0%;
}
.bodycontainer .businesscontainer h1 {
  font-size: 50px;
  line-height: 66px;
  margin: 0px 172px 50px 171px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.bodycontainer .businesscontainer h1::after {
  content: "";
  width: 45px;
  height: 3px;
  display: inline-block;
  position: absolute;
  top: 145px;
  left: 323px;
  background: red;
  border-radius: 50px;
}
.bodycontainer .businesscontainer .support {
  margin: 0px 15px;
  text-align: center;
  padding: 40px 27px;
  border-radius: 5px;
}
.bodycontainer .businesscontainer .support:hover {
  box-shadow: 0px 0px 30px #a9a3a3;
}
.bodycontainer .businesscontainer .support:hover a {
  color: blue;
}
.bodycontainer .businesscontainer .support a {
  font-size: 60px;
  line-height: 66px;
  color: orangered;
}
.bodycontainer .businesscontainer .support h2 {
  font-size: 23px;
  line-height: 29px;
  font-weight: bold;
}
.bodycontainer .businesscontainer .support p {
  color: #a9a3a3;
}
.bodycontainer .infocontainer {
  background: #f4f7fc;
  padding-bottom: 70px;
}
.bodycontainer .infocontainer .about {
  margin: 70px 0px 0px 0px;
}
.bodycontainer .infocontainer .about img {
  width: 100%;
  display: block;
  padding: 30px 0px 0px 0px;
}
.bodycontainer .infocontainer .aboutmar {
  margin: 60px 0px 0px 20px;
}
.bodycontainer .infocontainer .aboutmar h1 {
  font-size: 15px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: orangered;
}
.bodycontainer .infocontainer .aboutmar h2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
  text-transform: capitalize;
}
.bodycontainer .infocontainer .aboutmar h3 {
  font-size: 51px;
  line-height: 60px;
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
  margin-bottom: 45px;
}
.bodycontainer .infocontainer .aboutmar h3 strong {
  color: orangered;
}
.bodycontainer .infocontainer .aboutmar h3::after {
  content: "";
  width: 52px;
  height: 4px;
  display: inline-block;
  position: absolute;
  top: 135px;
  left: 3px;
  background: red;
  border-radius: 50px;
}
.bodycontainer .infocontainer .aboutmar h4 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
}
.bodycontainer .infocontainer .aboutmar p {
  color: #ab8b8b;
  margin-bottom: 30px;
}
.bodycontainer .infocontainer .aboutmar .marcos {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}
.bodycontainer .infocontainer .aboutmar .marcos img {
  width: 100%;
  display: block;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.bodycontainer .infocontainer .aboutmar .imgtext {
  margin-left: -30px;
}
.bodycontainer .infocontainer .aboutmar .imgtext h5 {
  font-size: 16px;
  line-height: 22px;
  margin: 0px 0px 10px 0px;
  font-weight: 900;
}
.bodycontainer .whatwedo {
  background: url("../images/slider-2.jpg") no-repeat 0px 0px/100%;
  padding-bottom: 80px;
}
.bodycontainer .whatwedo h1 {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: orangered;
  text-align: center;
  margin-top: 7%;
  text-transform: uppercase;
}
.bodycontainer .whatwedo h2 {
  font-size: 50px;
  line-height: 56px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0px 0px 50px 0px;
  position: relative;
}
.bodycontainer .whatwedo h2::after {
  content: "";
  width: 52px;
  height: 4px;
  display: inline-block;
  position: absolute;
  top: 80px;
  left: 550px;
  background: red;
  border-radius: 50px;
}
.bodycontainer .whatwedo .button {
  margin-top: 5%;
  text-align: center;
}
.bodycontainer .whatwedo .button a {
  font-size: 16px;
  line-height: 22px;
  padding: 15px 40px;
  margin: 0px 20px 0px 0px;
  border: 1px solid orangered;
  background: orangered;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
}
.bodycontainer .whatwedo .button a:hover {
  color: orangered;
  background: white;
}
.bodycontainer .whatwedo .threeimg {
  margin-top: 110px;
}
.bodycontainer .whatwedo .threeimg .wedo {
  border-radius: 3px;
  overflow: hidden;
}
.bodycontainer .whatwedo .threeimg .wedo img {
  width: 100%;
  display: block;
  position: relative;
}
.bodycontainer .whatwedo .threeimg .wedo img:hover {
  transform: scale(1.1);
  transition: 1s;
}
.bodycontainer .whatwedo .threeimg .wedotext {
  position: absolute;
  top: -73px;
  left: 16px;
}
.bodycontainer .whatwedo .threeimg .wedotext a {
  padding: 19px 21px 18px 21px;
  color: white;
  background: orangered;
  position: absolute;
  top: 0px;
  left: -67px;
}
.bodycontainer .whatwedo .threeimg .wedotext h3 {
  background: #444545;
  padding: 20px 99px 17px 20px;
  position: relative;
  top: -10px;
  left: 66px;
  color: white;
  opacity: 0.8;
}
.bodycontainer .solocontainer .singlerow {
  border-top: 1px solid #e5dddd;
  padding: 70px 0px;
}
.bodycontainer .solocontainer .singlerow .single {
  padding: 10px;
}
.bodycontainer .solocontainer .singlerow .single h1 {
  font-size: 35px;
  line-height: 41px;
  padding-left: 80px;
  position: relative;
  font-weight: bold;
}
.bodycontainer .solocontainer .singlerow .single h1 a {
  font-size: 55px;
  line-height: 51px;
  position: absolute;
  top: 7px;
  left: 0px;
  color: orangered;
}
.bodycontainer .solocontainer .singlerow .single h1 img {
  width: 30%;
  display: block;
  position: absolute;
  top: -2px;
  left: -6px;
}
.bodycontainer .solocontainer .singlerow .single p {
  padding-left: 80px;
  text-transform: capitalize;
}
.bodycontainer .successcontainer {
  background: url("../images/slider-2.jpg") no-repeat 0px 0px/100%;
  text-align: center;
  margin-bottom: 80px;
}
.bodycontainer .successcontainer .bgcolor {
  padding-bottom: 162px;
  background-color: rgba(236, 16, 16, 0.3);
}
.bodycontainer .successcontainer .successtext h1 {
  font-size: 40px;
  line-height: 66px;
  padding: 10% 18% 0% 18%;
  text-transform: capitalize;
  font-weight: bold;
  color: rgb(245, 239, 239);
}
.bodycontainer .porfoliocontainer {
  padding: 20px 0px 30px 0px;
  text-align: center;
}
.bodycontainer .porfoliocontainer h1 {
  font-size: 15px;
  line-height: 21px;
  margin: 0px;
  color: orangered;
  font-weight: bold;
  text-transform: uppercase;
}
.bodycontainer .porfoliocontainer h2 {
  font-size: 45px;
  line-height: 51px;
  margin: 10px 0px 50px 0px;
  font-weight: bold;
  text-transform: capitalize;
}
.bodycontainer .porfoliocontainer a {
  border: 1px dashed red;
  padding: 10px 30px;
  margin-right: 10px;
  text-decoration: none;
  background: white;
  color: orangered;
  margin-bottom: 30px;
}
.bodycontainer .porfoliocontainer a:hover, .bodycontainer .porfoliocontainer a.active {
  color: white;
  background: orangered;
}
.bodycontainer .porfoliocontainer .siximg {
  margin: 50px 0px 40px 0px;
}
.bodycontainer .porfoliocontainer .siximg img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  opacity: 0.3;
}
.bodycontainer .porfoliocontainer .siximg img:hover {
  opacity: 1;
}
.bodycontainer .porfoliocontainer .siximg .hovimg {
  margin: 0px -10px;
  background: black;
}
.bodycontainer .clientscontainer {
  background: url("../images/slider-3.jpg") no-repeat 0px 0px/100%;
  padding-bottom: 150px;
  margin-bottom: 50px;
}
.bodycontainer .clientscontainer h1 {
  margin: 15% 0% 0% 0%;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.bodycontainer .clientscontainer h2 {
  font-size: 50px;
  line-height: 56px;
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  margin: 10px 0px 50px 0px;
}
.bodycontainer .clientscontainer .review {
  padding: 10px 60px;
  border: 1px solid #ab8b8b;
}
.bodycontainer .clientscontainer .review p {
  font-family: "Work Sans- Italic";
  font-size: 17px;
  line-height: 26px;
  color: white;
}
.bodycontainer .clientscontainer .shane {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  margin: 30px 0px 0px 20px;
}
.bodycontainer .clientscontainer .shane img {
  width: 100%;
  display: block;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.bodycontainer .clientscontainer .imgtext {
  position: absolute;
  left: 157px;
  top: 28px;
}
.bodycontainer .clientscontainer .imgtext h5 {
  font-size: 18px;
  line-height: 24px;
  margin: 0px 0px 10px 0px;
  font-weight: bolder;
  color: white;
}
.bodycontainer .clientscontainer .imgtext p {
  color: orangered;
  font-weight: bolder;
}
.bodycontainer .teamcontainer {
  margin: 20px 0px 0px 0px;
}
.bodycontainer .teamcontainer .dedicate {
  margin: 30px 0px;
}
.bodycontainer .teamcontainer .dedicate h1 {
  font-size: 16px;
  line-height: 22px;
  margin: 0px;
  color: orangered;
  font-weight: bolder;
  text-transform: uppercase;
  padding-left: 35px;
}
.bodycontainer .teamcontainer .dedicate h2 {
  font-size: 33px;
  line-height: 39px;
  margin: 0px;
  text-transform: uppercase;
  font-weight: bolder;
  padding-left: 30px;
}
.bodycontainer .teamcontainer .dedicate p {
  line-height: 22px;
}
.bodycontainer .teamcontainer .fourimg {
  margin: 50px 0px;
  position: relative;
}
.bodycontainer .teamcontainer .fourimg img {
  width: 100%;
  display: block;
}
.bodycontainer .teamcontainer .fourimg .fourtext {
  background: white;
  width: 300px;
  position: absolute;
  top: 350px;
  left: 40px;
  text-align: center;
}
.bodycontainer .teamcontainer .fourimg .fourtext:hover {
  box-shadow: 0px 5px 10px #bbb8b8;
}
.bodycontainer .teamcontainer .fourimg .fourtext h3 {
  font-size: 19px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}
.bodycontainer .teamcontainer .fourimg .fourtext p {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ab8b8b;
}
.bodycontainer .blogcontainer {
  margin: 3% 0% 5% 0%;
}
.bodycontainer .blogcontainer h1 {
  color: orangered;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.bodycontainer .blogcontainer h2 {
  font-size: 40px;
  line-height: 46px;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 5%;
}
.bodycontainer .blogcontainer .fullhover {
  border-radius: 5px;
  overflow: hidden;
}
.bodycontainer .blogcontainer .fullhover:hover {
  box-shadow: 0px 0px 30px #ab8b8b;
  transform: scale(0.9);
  transition: 1s;
}
.bodycontainer .blogcontainer .resources img {
  width: 100%;
  display: block;
  position: relative;
}
.bodycontainer .blogcontainer .resources a {
  font-size: 13px;
  line-height: 20px;
  padding: 5px 15px;
  text-transform: uppercase;
  background: orangered;
  color: white;
  position: absolute;
  top: 10px;
  left: 16px;
  text-decoration: none;
  font-weight: bold;
}
.bodycontainer .blogcontainer .resources a:hover {
  background: white;
  color: orangered;
}
.bodycontainer .blogcontainer .resources span a {
  font-size: 13px;
  line-height: 20px;
  padding: 5px 15px;
  text-transform: uppercase;
  background: orangered;
  color: white;
  position: absolute;
  top: 10px;
  left: 130px;
  text-decoration: none;
  font-weight: bold;
}
.bodycontainer .blogcontainer .resources span a:hover {
  background: white;
  color: orangered;
}
.bodycontainer .blogcontainer .resources .exleft {
  left: 23px;
}
.bodycontainer .blogcontainer .resourcetext {
  padding: 30px;
}
.bodycontainer .blogcontainer .resourcetext p {
  color: #ab8b8b;
  margin-bottom: 20px;
}
.bodycontainer .blogcontainer .resourcetext h3 {
  font-size: 21px;
  line-height: 27px;
  font-weight: bold;
  margin-top: 0pc;
  text-transform: capitalize;
}
.bodycontainer .blogcontainer .resourcetext a {
  color: orangered;
  text-decoration: none;
  font-weight: bold;
}
.bodycontainer .blogcontainer .resourcetext a:hover {
  color: blue;
}
.bodycontainer .offercontainer {
  padding-bottom: 5%;
}
.bodycontainer .offercontainer .lastrow:hover {
  box-shadow: 0px 0px 30px #ab8b8b;
}
.bodycontainer .offercontainer .lastrow img {
  width: 100%;
  display: block;
}
.bodycontainer .offercontainer .lastrow .lasttext {
  padding: 35px;
}
.bodycontainer .offercontainer .lastrow .lasttext h1 {
  font-size: 23px;
  line-height: 29px;
  font-weight: bold;
}
.bodycontainer .offercontainer .lastrow .lasttext h2 a {
  font-size: 33px;
  line-height: 27px;
  font-weight: 900;
  position: relative;
  margin-left: 50px;
  text-decoration: none;
  color: black;
}
.bodycontainer .offercontainer .lastrow .lasttext h2 a:hover {
  color: orangered;
}
.bodycontainer .offercontainer .lastrow .lasttext h2 span a {
  position: absolute;
  top: 105px;
  left: 12px;
  color: black;
}
.bodycontainer .offercontainer .lastrow .lasttext h2 span a:hover {
  color: orangered;
}

.footercontainer {
  background: #252628;
  padding: 5% 0%;
  margin: 0px -15px;
  color: white;
}
.footercontainer .itsoft {
  padding: 20px;
}
.footercontainer .itsoft p {
  margin: 40px 0px;
  color: #bbb8b8;
}
.footercontainer .itsoft a {
  border: 1px solid #d9cece;
  font-size: 18px;
  line-height: 24px;
  color: #bbb8b8;
  display: inline-block;
  border-radius: 3px;
  margin-right: 5px;
  width: 33px;
  height: 33px;
  padding: 4px 7px;
}
.footercontainer .itsoft a:hover {
  background: orangered;
  color: white;
}
.footercontainer .links h1 {
  font-size: 21px;
  line-height: 27px;
  font-weight: bold;
  text-transform: capitalize;
}
.footercontainer .links ul {
  margin-top: 40px;
}
.footercontainer .links li {
  margin-bottom: 20px;
  margin-left: -23px;
}
.footercontainer .links a {
  color: #bbb8b8;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.footercontainer .links a:hover {
  color: orangered;
}
.footercontainer .contact h1 {
  font-size: 21px;
  line-height: 27px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.footercontainer .contact p {
  margin-bottom: 20px;
}
.footercontainer .contact p a {
  font-size: 16px;
  line-height: 23px;
  color: #bbb8b8;
  text-decoration: none;
  display: block;
}
.footercontainer .contact p a:hover {
  color: orangered;
}
.footercontainer .post {
  margin-bottom: 30px;
}
.footercontainer .post h1 {
  font-size: 21px;
  line-height: 27px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.footercontainer .post h2 {
  font-size: 15px;
  line-height: 21px;
  font-weight: bold;
  position: relative;
  margin-left: 100px;
}
.footercontainer .post h2:hover {
  color: orangered;
}
.footercontainer .post h2 img {
  position: absolute;
  top: 0px;
  left: -110px;
}
.footercontainer .post p {
  margin-left: 100px;
  font-size: 12px;
  line-height: 20px;
  color: #bbb8b8;
}
.footercontainer .post p:hover {
  color: orangered;
}

.footsecond {
  background: #252628;
  margin: 0px -15px;
}
.footsecond .copyright {
  border-top: 1px solid #bbb8b8;
  padding: 20px;
}
.footsecond .copyright .left a {
  color: #bbb8b8;
  text-decoration: none;
}
.footsecond .copyright .left a:hover {
  color: orangered;
}
.footsecond .copyright .right a {
  color: #bbb8b8;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 10px;
}
.footsecond .copyright .right a:hover {
  color: orangered;
}

@media (min-width: 320px) and (max-width: 480px) {
  .headercontainer {
    background: url("../images/bg-fl.jpg") no-repeat 0px 0px/100%;
    padding-bottom: 30px;
  }
  .headercontainer .custom-navbar .navbar-nav {
    background: black;
  }
  .headercontainer .headtext {
    margin: 38% 0% 0% 0%;
  }
  .headercontainer .headtext h1 {
    font-size: 18px;
    line-height: 24px;
    color: black;
    margin: 0px 0px 10px 0px;
  }
  .headercontainer .headtext p {
    color: black;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .headercontainer .headtext a {
    font-size: 13px;
    line-height: 19px;
    padding: 10px 15px;
    margin: 0px 10px 0px 0px;
  }
  .bodycontainer .businesscontainer h1 {
    font-size: 20px;
    line-height: 28px;
    margin: 0px 0px 20px 0px;
  }
  .bodycontainer .businesscontainer h1::after {
    width: 20px;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 67px;
    left: 131px;
  }
  .bodycontainer .businesscontainer .support {
    margin: 20px 15px;
  }
  .bodycontainer .businesscontainer .support h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .bodycontainer .infocontainer {
    padding-bottom: 20px;
  }
  .bodycontainer .infocontainer .about {
    margin: 20px 0px 0px 0px;
  }
  .bodycontainer .infocontainer .aboutmar {
    margin: 30px 0px 0px 0px;
  }
  .bodycontainer .infocontainer .aboutmar h1 {
    font-size: 13px;
    line-height: 19px;
    text-align: center;
  }
  .bodycontainer .infocontainer .aboutmar h2 {
    font-size: 17px;
    line-height: 23px;
    text-align: center;
  }
  .bodycontainer .infocontainer .aboutmar h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 30px 0px 25px 0px;
  }
  .bodycontainer .infocontainer .aboutmar h3::after {
    width: 28px;
    height: 2px;
    top: 30px;
    left: 102px;
  }
  .bodycontainer .infocontainer .aboutmar h4 {
    font-size: 15px;
    line-height: 22px;
  }
  .bodycontainer .infocontainer .aboutmar .marcos {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  .bodycontainer .infocontainer .aboutmar .imgtext {
    margin-left: 10px;
  }
  .bodycontainer .whatwedo h1 {
    font-size: 16px;
    line-height: 22px;
    margin-top: 42%;
  }
  .bodycontainer .whatwedo h2 {
    color: black;
    font-size: 25px;
    line-height: 31px;
    margin: 0px 0px 0px 0px;
  }
  .bodycontainer .whatwedo h2::after {
    width: 30px;
    height: 2px;
    top: 40px;
    left: 133px;
  }
  .bodycontainer .whatwedo .threeimg {
    margin-top: 30px;
  }
  .bodycontainer .whatwedo .threeimg .wedo {
    margin-top: 10px;
  }
  .bodycontainer .whatwedo .threeimg .wedotext h3 {
    padding: 20px 25px 17px 20px;
  }
  .bodycontainer .whatwedo .button a {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 15px;
    margin: 30px 20px 0px 0px;
  }
  .bodycontainer .solocontainer .singlerow {
    padding: 30px 0px;
  }
  .bodycontainer .solocontainer .singlerow .single {
    margin-left: 40px;
  }
  .bodycontainer .successcontainer {
    padding-bottom: 0px;
    margin-bottom: 20px;
  }
  .bodycontainer .successcontainer .bgcolor {
    padding-bottom: 3px;
  }
  .bodycontainer .successcontainer .successtext h1 {
    font-size: 18px;
    line-height: 24px;
    padding: 0px;
  }
  .bodycontainer .porfoliocontainer h1 {
    font-size: 13px;
    line-height: 19px;
  }
  .bodycontainer .porfoliocontainer h2 {
    font-size: 28px;
    line-height: 34px;
    margin: 5px 0px 15px 0px;
  }
  .bodycontainer .porfoliocontainer a {
    padding: 10px 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    display: block;
  }
  .bodycontainer .porfoliocontainer .siximg {
    margin: 50px 0px 20px 0px;
  }
  .bodycontainer .porfoliocontainer .siximg img {
    margin-bottom: 20px;
  }
  .bodycontainer .clientscontainer {
    padding-bottom: 0px;
  }
  .bodycontainer .clientscontainer h1 {
    margin: 75% 0% 0% 0%;
    color: black;
  }
  .bodycontainer .clientscontainer h2 {
    font-size: 25px;
    line-height: 31px;
    color: black;
    margin: 10px 0px 30px 0px;
  }
  .bodycontainer .clientscontainer .review {
    padding: 5px 10px;
    background: #413d3d;
  }
  .bodycontainer .clientscontainer .review p {
    font-size: 14px;
    line-height: 22px;
    color: white;
    opacity: 0.5;
  }
  .bodycontainer .clientscontainer .review p:hover {
    opacity: 1;
  }
  .bodycontainer .clientscontainer .imgtext {
    top: 20px;
  }
  .bodycontainer .clientscontainer .imgtext h5 {
    color: black;
  }
  .bodycontainer .teamcontainer .dedicate h1 {
    padding-left: 0px;
    text-align: center;
  }
  .bodycontainer .teamcontainer .dedicate h2 {
    font-size: 22px;
    line-height: 28px;
    padding-left: 0px;
    text-align: center;
    margin: 5px 0px 20px 0px;
  }
  .bodycontainer .teamcontainer .fourimg {
    margin: 0px;
  }
  .bodycontainer .teamcontainer .fourimg img {
    margin-bottom: 80px;
  }
  .bodycontainer .teamcontainer .fourimg .fourtext {
    width: 230px;
    top: 270px;
    left: 42px;
  }
  .bodycontainer .blogcontainer h1 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0px;
  }
  .bodycontainer .blogcontainer h2 {
    font-size: 20px;
    line-height: 28px;
    margin: 0px;
  }
  .bodycontainer .blogcontainer .fullhover {
    margin-top: 30px;
    border-radius: 10px;
  }
  .bodycontainer .offercontainer .lastrow .lasttext {
    padding: 0px;
  }
  .bodycontainer .offercontainer .lastrow .lasttext h1 {
    font-size: 18px;
    line-height: 24px;
    padding: 0px 5px;
  }
  .bodycontainer .offercontainer .lastrow .lasttext h2 span a {
    top: 73px;
    left: -13px;
    padding: 0px 5px;
  }
  .bodycontainer .offercontainer .lastrow .lasttext h2 a {
    font-size: 23px;
    line-height: 29px;
    margin-left: 30px;
  }
}
.footercontainer .itsoft {
  padding: 0px;
  margin: 40px 0px 60px 0px;
}
.footercontainer .links {
  margin-bottom: 50px;
}
.footercontainer .links ul {
  margin-top: 20px;
}
.footercontainer .contact {
  margin-bottom: 50px;
}
.footercontainer .contact h1 {
  margin-bottom: 20px;
}
.footercontainer .contact p a {
  margin: 5px 0px;
}
.footercontainer .post h1 {
  margin-bottom: 20px;
}

.footsecond .copyright {
  padding: 20px 15px;
}
.footsecond .copyright .left {
  margin-bottom: 20px;
}/*# sourceMappingURL=style.css.map */